.small-img{
    width: 25%;
    margin-left: 37%;
    margin-right: 40%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

@media (max-width: 800px) {

    
    .small-img{
        height: 40%;
        margin-right: 7vw;
        margin-left: 7vw;



    }
  }
